{% extends "base.html" %}

{% block title %}My Orders - SmartShop{% endblock %}

{% block content %}
<div class="section-heading">
    <div>
        <h2>My orders</h2>

        <span class="muted">
            View your previous purchases.
        </span>
    </div>
</div>

{% if orders %}
<div class="table-card table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Total</th>
                <th>Payment</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for order in orders %}
                <tr>
                    <td>#{{ order.id }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.total|money }}</td>
                    <td>{{ order.payment_status }}</td>
                    <td>
                        <span class="badge">
                            {{ order.order_status }}
                        </span>
                    </td>
                    <td>
                        <a
                            class="btn secondary"
                            href="{{ url_for(
                                'bill',
                                order_id=order.id
                            ) }}"
                        >
                            View bill
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="empty">
    <h3>No orders yet</h3>
    <p>Your orders will appear here.</p>
</div>
{% endif %}
{% endblock %}